body {
	background-color: #F2F5F2;
}

.navbar-default {
	background-color: #FFE0F0;
}

.well-white {
	background-color: #FFFFFF;
}

.my-brand {
	font-size: 15px;
}

/*แต่งสีตัวอักษร*/
.navbar-default .navbar-brand {
	color: #0000FF;
}

.btn-success {
  color: #000000;
 }

.navbar-default .navbar-nav > li > a {
	color: #0000FF;
}

a:link {
	color: #000000;//โค้ดสี
}

/*แต่งสีตัวอักษร*/